NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon_publica_do_supabase
NEXT_PUBLIC_SUPABASE_SITE_SCHEMA=site
SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_somente_no_servidor
SUPABASE_SITE_SCHEMA=site
SUPABASE_MEDIA_BUCKET=cms-media
ADMIN_USERNAME=admin
ADMIN_PASSWORD=troque_esta_senha
ADMIN_ROLE=admin
YOUTUBE_API_KEY=sua_chave_api_youtube
YOUTUBE_PLAYLIST_ID=id_da_playlist_do_canal
